.places {
	font-size: 30px;
	text-align: left;
}
.articles {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: #FF5A5F solid 1px;
	border-radius: 4px;
	position: relative;
}
article h2 {
	font-size: 30px;
	margin-top: -5px;
	margin-bottom: 10px;
	text-align: center;
}
.price_by_night {
	color: #FF5A5F;
	text-align: center;
	align-content: center;
	border:  #FF5A5F solid 4px;
	min-width: 60px;
	height: 60px;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	right: 10px;
}
.price_by_night p {
	font-size: 30px;
	margin: 0px;
}

.information {
	height: 80px;
	border: #DDDDDD 1px solid;
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.max_guest {
	background: url(../images/icon_group.png) no-repeat center;
	width: 100px;
}

.number_rooms {
	background: url(../images/icon_bed.png) no-repeat center;
	width: 100px;
}

.number_bathrooms {
	background: url(../images/icon_bath.png) no-repeat center;
	width: 100px;
}

.max_guest p {
	text-align: center;
	margin-top: 60px;
	font: 0.4em sans-serif;
}

.number_rooms p {
	text-align: center;
	margin-top: 60px;
	font: 0.4em sans-serif;
}

.number_bathrooms p {
	text-align: center;
	margin-top: 60px;
	font: 0.4em sans-serif;
}

.user p {
	font-size: 0.5em;
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;
	margin-top: 30px;
}

.description p {
	font-size: small;
	font-family:'Lucida Sans', Verdana, sans-serif ;
	text-align: left;
	margin: 0px;
	padding: 0px;
}
